<div class="main-body-container">
	<div class="main-navigation">
		<div class="nav-body">
			<ul>
				<li>
					<a href="/dashboard">Home</a>
				</li>
				<li>
					<a href="/user_management">User Management</a>
				</li>
				<li>
					<a href="/customers">Customers</a>
				</li>
				<li>
					<a href="/loans">Loans</a>
				</li>
				<li>
					<a href="/messages">Messages</a>
				</li>
				<li>
					<a href="/logout">Sign Out</a>
				</li>
			</ul>
		</div>		
	</div>
	<div class="main-body">
		<div class="body-content">
			
		</div>
	</div>
</div>